.details {
    background-color: hwb(47 8% 2%);
    padding: 10px;
    text-align: center;
  }
.tableHeaderStyle  {
    border: '1px solid #ddd';
    padding: '8px';
    text-align: 'left';
    background-color: '#f2f2f2';
  };
  
 .tableCellStyle  {
    border: '1px solid #ddd';
    padding: '8px';
    text-align: 'left';
  };
  